.contact-main{
    width: 100%;
    height: 680px;
    background-color: #0d0d0d;
    margin-top: 115px;
}




.contact-page {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background: #0d0d0d;
  color: white;
  padding: 40px;
  font-family: "Georgia", serif;
  margin-right: 50px;
}

.contact-left {
  flex: 2;  /* takes double the space */
  max-width: 900px;
}

.contact-form {
  flex: 1;
  background: #000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  border: 2px solid #1e90ff; /* Light blue border */
  box-shadow: 
    0 0 10px rgba(30, 144, 255, 0.8),
    0 0 20px rgba(30, 144, 255, 0.6),
    0 0 40px rgba(30, 144, 255, 0.4);
  transition: box-shadow 0.3s ease;
}

/* Extra glow when hovered */
.contact-form:hover {
  box-shadow: 
    0 0 20px rgba(30, 144, 255, 1),
    0 0 40px rgba(30, 144, 255, 0.9),
    0 0 60px rgba(30, 144, 255, 0.7);
}

.contact-left h1 {
  font-size: 28px;
  margin-top: 120px;
  margin-left: 150px;
}
.contact-left p{
    margin-left: 150px;
    line-height: 1.8;
}

.contact-left h2 {
  margin-top: 30px;
  font-size: 28px;
  margin-left: 150px;
}

.contact-left a {
  color: #1e90ff;
  text-decoration: none;
}

.contact-left a:hover {
  text-decoration: underline;
}

.contact-form {
  flex: 1;
  background: #000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  background: #1a1a1a;
  color: white;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.contact-form button {
  background: white;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #1e90ff;
  color: white;
}
