.footer {
  background-color: #888; /* Gray background */
  color: white;
  padding: 40px 80px;
  font-family: "Georgia", serif;
  
 
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 180px;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social a {
  background: #ccc;
  color: black;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  background: white;
  color: #000;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ddd;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
