.store-section{
    width: 100%;
    margin-top: 115px;
    background-color: #000;

}




.bangalore-section {
  background: #000;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.bangalore-section h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.store-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.store-card {
  background: #111;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(255, 215, 0, 0.2); /* subtle gold glow */
  overflow: hidden;
  width: 550px;
  text-align: left;
  transition: all 0.4s ease-in-out;
  position: relative;
}

/* Glow effect on hover */
.store-card:hover {
  box-shadow: 0px 0px 30px rgba(255, 215, 0, 0.6), 
              0px 0px 60px rgba(255, 215, 0, 0.3);
  transform: translateY(-5px); /* lift slightly */
}
.store-info {
  padding: 20px;
}

.store-info h2 {
  color: #d4af37; /* Gold */
  font-size: 20px;
  margin-bottom: 10px;
}

.store-info p {
  font-size: 16px;
  line-height: 1.5;
}

.btn-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.map-btn, .call-btn {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease;
}

.map-btn {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
}

.map-btn:hover {
  background: #222;
}

.call-btn {
  background: #d4af37;
  color: #000;
}

.call-btn:hover {
  background: #b9962c;
}


.hydrabad-banner {
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-bottom: -48px;
}

.hydrabad-banner img {
  width: 100vw;
  display: block;
}
